
<!-- {% extends 'base.html' %}

{% block title %}Order Confirmed{% endblock %}

{% block content %}
    <h2 style='margin-top:80px;'>Order Confirmed</h2>
    <p>Thank you for submitting the form, {{ name }}!</p>
    
    <!-- Display submitted data if needed -->
    <!-- <p>Department: {{ department }}</p>
    <p>Course: {{ course }}</p> -->

    <!-- Link to return to the home page -->
    <!-- <a href="{% url 'Restapp:home_view' %}">Return to Home Page</a>
{% endblock %}
form_submitted.html --> -->