{% extends 'base.html' %}

{% block content %}

<div style="position: relative; overflow: hidden; margin-top: 10px;">
    <div class="banner_title col-8 col-lg-4" style="background-image: url('/static/img/lib.png'); width: 1360px; height: 98%; background-repeat: no-repeat; background-size: cover; border: 2px solid #ccc; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);">
        <div class="centered">
            <h2 class="banner">Welcome to School Store</h2>
        </div>
    </div>
</div>



{% endblock %}
